<!-- Add Manager Page -->

<!-- styling -->
<style>
    table {
      width: 80%;
      /* Adjust the width as needed */
      margin: auto;
      /* Center-align the table */
      border-collapse: collapse;
    }
  
    th,
    td {
      padding: 10px;
      /* Add padding to create a gap between columns */
      text-align: center;
      /* Center-align content within cells */
      border: 1px solid #ddd;
      /* Add border for better visibility */
    }
    button {
      display: block;
      margin: auto;
      margin-top: 10px;
    }
  </style>

<% if (errors && errors.length > 0) { %>
  <div>
    <% errors.forEach(function(error) { %>
      <p><%= error %></p>
    <% }); %>
  </div>
<% } %>
  <h1>Add Manager</h1>
  <!-- Form to add a manager -->
<form action="/managers/add" method="POST"> 
    <table>
      <tr>
        <td>
          <label for="managerID">Manager ID:</label>
          <input type="text" id="managerID" name="managerID" pattern=".{4}" title="Exactly 4 characters required" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" pattern=".{5,}" title="Minimum 5 characters required" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="salary">Salary:</label>
          <input type="text" id="salary" name="salary" required>
        </td>
      </tr>
    </table>
    <!-- Button to add the manager -->
    <button type="submit">Add Manager</button>
  </form>
  