<!-- Add Manager Page -->

<!-- styling -->
<style>
    table {
      width: 80%;
      margin: auto;
      border-collapse: collapse;
    }
  
    th,
    td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }
    button {
      display: block;
      margin: auto;
      margin-top: 10px;
    }
  </style>

<!-- Check if there are any errors to display -->
<% if (errors && errors.length > 0) { %>
  <div>
    <!-- Loop through each error in the 'errors' array -->
    <% errors.forEach(function(error) { %>
       <!-- Display the error message inside a paragraph element -->
      <p><%= error %></p>
    <% }); %>
  </div>
<% } %>
  <h1>Add Manager</h1>
  <!-- Form to add a manager -->
<form action="/managers/add" method="POST"> 
    <table>
      <tr>
        <td>
          <!-- Label for Manager ID input field -->
          <label for="_id">Manager ID:</label>
          <!-- Input field for Manager ID with pattern and title attributes -->
          <input type="text" id="_id" name="_id" pattern=".{4}" title="Exactly 4 characters required" required>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Label for Name input field -->
          <label for="name">Name:</label>
          <!-- Input field for Name with pattern and title attributes -->
          <input type="text" id="name" name="name" pattern=".{5,}" title="Minimum 5 characters required" required>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Label for Salary input field -->
          <label for="salary">Salary:</label>
          <!-- Input field for Salary with 'required' attribute -->
          <input type="text" id="salary" name="salary" required>
        </td>
      </tr>
    </table>
    <!-- Button to add the manager -->
    <button type="submit">Add Manager</button>
  </form>
  