<!-- home.ejs -->

<!-- styling -->
<style>
  table {
    width: 80%;
    /* Adjust the width as needed */
    margin: auto;
    /* Center-align the table */
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    /* Add padding to create a gap between columns */
    text-align: center;
    /* Center-align content within cells */
    border: 1px solid #ddd;
    /* Add border for better visibility */
  }
</style>
<!-- Table containing links to different sections -->
<table>
  <tr>
    <td>
      <!-- Row containing link to 'Stores' section -->
      <a href='/stores'>Stores</a>
    </td>
  </tr>
  <tr>
    <td>
      <!-- Row containing link to 'Products' section -->
      <a href="/products">Products</a>
    </td>
  </tr>
  <tr>
    <td>
      <!-- Row containing link to 'Managers' section -->
      <a href="/managers">Managers</a>
    </td>
  </tr>


</table>