<!-- stores.ejs -->

<!-- styling.ejs -->
<style>
    table {
      width: 80%; 
      margin: auto; 
      border-collapse: collapse;
    }
  
    th, 
    td {
      padding: 10px; 
      text-align: center; 
      border: 1px solid #ddd; 
    }
  </style>
  
  <!-- Create a table to display store information -->
  <table>
    <tr>
      <th>SID</th>
      <th>LOCATION</th>
      <th>MANAGER ID</th>
      <th>ACTION</th>
    </tr>
    <!-- Loop through each store in the 'stores' array -->
    <% stores.forEach((currentElement) => { %>
      <tr>
        <!-- Display store details in each row -->
        <td><%= currentElement.sid %></td>
        <td><%= currentElement.location %></td>
        <td><%= currentElement.mgrid %></td>
        <!-- Create a link to the 'Update' page for each store -->
        <td><a href='/stores/edit/<%= currentElement.sid %>'>Update</a></td>
      </tr>
    <% }) %>
  </table>
  <!-- Add a link to the home page -->
  <a href='/'>Home</a>
  